{% extends 'base.html' %}


{% block body %}
  <body>

  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://cache.desktopnexus.com/cropped-wallpapers/2616/2616106-1366x768-[DesktopNexus.com].jpg?st=aNFPI_hODyLUuWxQFz3n2w&e=1669818412');
      height: 400px;
    "
  >
    <div class="mask" style="background-color:;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 p-5">Olá, mundo!</h1>
          <h5 class="mb-3">Eu sou Lucas Comaru.</h5>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Download CV</a>
        </div>
      </div>
    </div>
  </div>

<main>


  <div class="container marketing p-5">


    <div class="row">
      <div class="col-lg-4">
        <img src="{{ contato }}" width="100" height="100">

        <h2>Contato</h2>
        <p>lucascomaru20@gmail.com</p>
      </div>
      <div class="col-lg-4">
        <img src="{{ github }}" width="100" height="100">

        <h2>Experiências</h2>
        <p>Você pode acompanhar alguns de meus outros trabalhos no Github</p>
        <p><a class="btn btn-secondary" href="https://github.com/lucascomaru">Ir até o Github &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 id="scrollspyHeading1">Sobre mim</h2>
        <p class="lead ">Meu nome é Lucas Comaru</p>
      </div>
      <div class="col-md-5">
        <img src="{{ foto_perfil }}"
        width="400px" height="700">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 id="scrollspyHeading2">Cursos</h2>
        <p class="lead">Os cursos que fiz:
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{ cursos}}" width="200" height="200">
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 id="scrollspyHeading3">Projetos</h2>
        <p class="lead">Projetos aqui</p>
      </div>
      <div class="col-md-5">
        <img src="{{ projetos }}" width="300" height="300">

      </div>
          <!-- /END THE FEATURETTES -->

      <hr class="featurette-divider">
    </div>
    <div>
     <h1 id="scrollspyHeading4" class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center">
                Vamos trabalhar juntos?
            </h1>
      <p class="font-weight-normal text-center">lucascomaru@gmail.com</p>

    </div>

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Voltar para o topo da página</a></p>

  </footer>
</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>

{% endblock %}