{% extends 'base.html' %}


{% block body %}
  <body>

  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://cache.desktopnexus.com/cropped-wallpapers/2616/2616106-1366x768-[DesktopNexus.com].jpg?st=aNFPI_hODyLUuWxQFz3n2w&e=1669818412');
      height: 400px;
    "
  >
    <div class="mask" style="background-color:;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 ">Olá mundo!</h1>
          <h5 class="mb-3">Eu sou Lucas Comaru.</h5>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
          >Saiba mais</a
          >
        </div>
      </div>
    </div>
  </div>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">#</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>


  <div class="container marketing p-5">


    <div class="row">
      <div class="col-lg-4">
        <img src="{{ contato }}" width="100" height="100">

        <h2>Contato</h2>
        <p>lucascomaru20@gmail.com</p>
      </div>
      <div class="col-lg-4">
        <img src="{{ github }}" width="100" height="100">

        <h2>Experiências</h2>
        <p>Você pode acompanhar alguns de meus outros trabalhos no Github</p>
        <p><a class="btn btn-secondary" href="https://github.com/lucascomaru">Ir até o Github &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Sobre mim
        <p class="lead ">Meu nome é Lucas Comaru</p>
      </div>
      <div class="col-md-5">
        <img src="{{ foto_perfil }}"
        width="400px" height="700">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading" >Cursos
        <p class="lead">Os cursos que eu fiz para melhora das minhas habilidades foram:
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{{ cursos}}" width="200" height="200">
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Projetos
        <p class="lead">Projetos aqui</p>
      </div>
      <div class="col-md-5">
        <img src="{{ projetos }}" width="400" height="400">

      </div>
          <!-- /END THE FEATURETTES -->

      <hr class="featurette-divider">
    </div>
     <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> Vamos trabalhar juntos?
        <p class="lead">Informações aqui</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">



  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Voltar para o topo da página</a></p>

  </footer>
</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>

{% endblock %}